services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: ${REDIS_ADDR}
      POSTGRES_DSN: ${POSTGRES_DSN}
    depends_on:
      - redis
      - postgres
    networks:
      - backend
  redis:
    image: redis:7-alpine
    container_name: leaderboard-go-redis
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redisdata:/data
    restart: unless-stopped
    networks:
      - backend
  postgres:
    image: postgres:16-alpine
    container_name: leaderboard-go-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-leaderboard}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-leaderboard}
      POSTGRES_DB: ${POSTGRES_DB:-leaderboard}
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  redisdata:
  pgdata:

networks:
  backend:
    driver: bridge
